### WstÄ™pne przetworzenie danych

1. Import bibliotek

In [1]:
import pandas as pd
import numpy as np

### Ratings

In [2]:
path = 'C:\\Users\\aldabrow\\Desktop\\PowerBI Excercises\\INZ\\data\\archive\\'

In [3]:
df_ratings = pd.read_csv(path + "ratings.csv")
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [6]:
#check how many users and movies we have
n_users = df_ratings.userId.unique().shape[0]
n_movies = df_ratings.movieId.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 270896 | Number of movies = 45115

In [4]:
df_ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [5]:
df_ratings.duplicated(subset=['userId', 'movieId']).sum()

0

In [4]:
#scale the rating column to be between 0 and 1
min_rating = df_ratings['rating'].min()
max_rating = df_ratings['rating'].max()

# Normalize ratings to the range [0, 1]
df_ratings['normalized_rating'] = (df_ratings['rating'] - min_rating) / (max_rating - min_rating)
df_ratings.head()

   userId  movieId  rating   timestamp  normalized_rating
0       1      110     1.0  1425941529           0.111111
1       1      147     4.5  1425942435           0.888889
2       1      858     5.0  1425941523           1.000000
3       1     1221     5.0  1425941546           1.000000
4       1     1246     5.0  1425941556           1.000000

In [5]:
unique_users = df_ratings['userId'].nunique()
unique_users

270896

In [6]:
df_ratings['movieId'].nunique()

45115

##### Movies metadata

2. Wczytanie danych

In [7]:
df_movie = pd.read_csv(path + "movies_metadata.csv")
df_movie.head(3)

C:\Users\aldabrow\AppData\Local\Temp\ipykernel_16132\4151235766.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie = pd.read_csv(path + "movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [9]:
df_credits = pd.read_csv(path + "credits.csv")
df_credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [10]:
df_keywords = pd.read_csv(path + "keywords.csv")
df_keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

3. Przygotowanie i wyczyszczenie danych

In [11]:
df_movie.shape

(45466, 24)

In [12]:
#change the id column to int64
df_movie['id'] = pd.to_numeric(df_movie['id'], errors='coerce').fillna(0).astype(np.int64)
df_credits['id'] = pd.to_numeric(df_credits['id'], errors='coerce').fillna(0).astype(np.int64)
df_keywords['id'] = pd.to_numeric(df_keywords['id'], errors='coerce').fillna(0).astype(np.int64)
df_movie['id'].dtype

dtype('int64')

In [14]:
#how many movies id are in the ratings dataset which are not in the movies dataset
df_ratings['movieId'].isin(df_movie['id']).value_counts()

False    14587721
True     11436568
Name: movieId, dtype: int64

In [15]:
#delete rows from ratings dataset which are not in the movies dataset
df_ratings = df_ratings[df_ratings['movieId'].isin(df_movie['id'])]
df_ratings.shape

(11436568, 5)

In [17]:
#how many movies id are in the movies dataset which are not in the ratings dataset
df_movie['id'].isin(df_ratings['movieId']).value_counts()

False    37897
True      7569
Name: id, dtype: int64

In [18]:
#delete rows from movies dataset which are not in the ratings dataset
df_movie = df_movie[df_movie['id'].isin(df_ratings['movieId'])]
df_movie.shape

(7569, 24)

In [19]:
#smaller dataset by users who have rated a minimum number of movies 
filtered_users = df_ratings['userId'].value_counts()
filtered_users = filtered_users[filtered_users >= 150].index
df_ratings = df_ratings[df_ratings['userId'].isin(filtered_users)]
df_ratings.shape

"\nfiltered_movies = df_ratings['movieId'].value_counts()\nfiltered_movies = filtered_movies[filtered_movies >= 100].index\ndf_ratings = df_ratings[df_ratings['movieId'].isin(filtered_movies)]\ndf_ratings.shape"

In [22]:
df_ratings.shape

(4587483, 5)

In [20]:
#how many movies id are in the credits dataset which are not in the movies dataset
df_credits['id'].isin(df_movie['id']).value_counts()

False    37905
True      7571
Name: id, dtype: int64

In [21]:
#delete rows from credits dataset which are not in the movies dataset
df_credits = df_credits[df_credits['id'].isin(df_movie['id'])]
df_credits.shape

(7571, 3)

In [22]:
#how many movies id are in the keywords dataset which are not in the movies dataset
df_keywords['id'].isin(df_movie['id']).value_counts()

False    38751
True      7668
Name: id, dtype: int64

In [23]:
#delete rows from keywords dataset which are not in the movies dataset
df_keywords = df_keywords[df_keywords['id'].isin(df_movie['id'])]
df_keywords.shape

(7668, 2)

In [24]:
df_movie.isnull().sum()

adult                       0
belongs_to_collection    6622
budget                      0
genres                      0
homepage                 6266
id                          0
imdb_id                     2
original_language           1
original_title              0
overview                  128
popularity                  0
poster_path                20
production_companies        0
production_countries        0
release_date                8
revenue                     0
runtime                    19
spoken_languages            0
status                     11
tagline                  3682
title                       0
video                       0
vote_average                0
vote_count                  0
dtype: int64

In [25]:
df_movie.dropna(subset=['title'], inplace=True)
df_movie.isnull().sum()

adult                       0
belongs_to_collection    6622
budget                      0
genres                      0
homepage                 6266
id                          0
imdb_id                     2
original_language           1
original_title              0
overview                  128
popularity                  0
poster_path                20
production_companies        0
production_countries        0
release_date                8
revenue                     0
runtime                    19
spoken_languages            0
status                     11
tagline                  3682
title                       0
video                       0
vote_average                0
vote_count                  0
dtype: int64

In [26]:
df_movie.drop_duplicates(subset=['title'], inplace=True)
df_movie.duplicated(subset=['title']).sum()

0

In [27]:
df_movie.duplicated(subset=['id']).sum()

0

In [28]:
df_keywords.isnull().sum()

id          0
keywords    0
dtype: int64

In [29]:
df_keywords.drop_duplicates(subset=['id'], inplace=True)
df_keywords.duplicated(subset=['id']).sum()

0

In [30]:
df_credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [31]:
df_credits.duplicated(subset=['id']).sum()
df_credits.drop_duplicates(subset=['id'], inplace=True)

In [32]:
#change "id" column name to "movieId"
df_movie = df_movie.rename(columns={'id': 'movieId'})
df_credits = df_credits.rename(columns={'id': 'movieId'})
df_keywords = df_keywords.rename(columns={'id': 'movieId'})

df_credits = df_credits.rename(columns={'crew': 'director'})

In [33]:
df_movie['genres'][0]
df_keywords['keywords'][0]
df_credits['cast'][0]
df_credits['director'][0]

'[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'DesirÃ©e Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': \'J.R.

In [34]:
#convert string to list
def literal_eval(x):
    try:
        return eval(x)
    except:
        return np.nan
    
#convert string to dictionary
def literal_eval_dict(x):
    try:
        return eval(x)
    except:
        return {}
    
#extract names
def get_names_from_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        return names
    return []

#extract director name
def get_names_of_director(x):
    if isinstance(x, list):
        names = [i['name'] for i in x if i['job'] == 'Director']
        return names
    return []

In [35]:
#apply literal_eval function to columns
df_movie['genres'] = df_movie['genres'].apply(literal_eval)
df_movie['production_companies'] = df_movie['production_companies'].apply(literal_eval)
df_movie['production_countries'] = df_movie['production_countries'].apply(literal_eval)
df_movie['spoken_languages'] = df_movie['spoken_languages'].apply(literal_eval)
df_keywords['keywords'] = df_keywords['keywords'].apply(literal_eval)
df_credits['cast'] = df_credits['cast'].apply(literal_eval)
df_credits['director'] = df_credits['director'].apply(literal_eval)

In [36]:
#apply functions to columns
df_movie['genres'] = df_movie['genres'].apply(get_names_from_list)
df_movie['production_companies'] = df_movie['production_companies'].apply(get_names_from_list)
df_movie['production_countries'] = df_movie['production_countries'].apply(get_names_from_list)
df_movie['spoken_languages'] = df_movie['spoken_languages'].apply(get_names_from_list)
df_keywords['keywords'] = df_keywords['keywords'].apply(get_names_from_list)
df_credits['cast'] = df_credits['cast'].apply(get_names_from_list)
df_credits['director'] = df_credits['director'].apply(get_names_of_director)

In [37]:
df_movie.head(3)

,adult,belongs_to_collection,budget,genres,homepage,movieId,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[English, FranÃ§ais]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[English, EspaÃ±ol]",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0

In [38]:
df_movie.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'movieId', 'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [39]:
#drop poster path column
df_movie = df_movie.drop(columns=['poster_path'])
df_movie.head(3)

,adult,belongs_to_collection,budget,genres,homepage,movieId,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[English, FranÃ§ais]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[English, EspaÃ±ol]",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0

In [40]:
import requests
import json

access_token = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMDFjOTFiY2YwNjYxNTFkYTY0YzRlNTkyM2M0MDdmOSIsInN1YiI6IjY1NDNmMjk0OGM3YjBmMDBhZDE3OTAyYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.P73MOnNMiCeaIykhWnFxVCNCx2UM0kFrZsOhSsyEPHo'
base_url = 'https://api.themoviedb.org/3/collection/'


def get_posters_paths(imdb_id):
    
    url = f"{base_url}{imdb_id}/images"
    headers = { "accept": "application/json",
               'Authorization': f'Bearer {access_token}'}
    
    try:
            response = requests.get(url, headers=headers)
            response.raise_for_status()  # Raise an error for non-200 responses

            data = response.json()
            if 'posters' in data and len(data['posters']) > 0:
                return data['posters'][0]['file_path']
    except requests.exceptions.RequestException as e:
            print(f"Error for movie ID {imdb_id}: {str(e)}")

    return None

    
df_movie['poster_path'] = df_movie['imdb_id'].apply(get_posters_paths)

Error for movie ID tt0142032: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0142032/images
Error for movie ID tt0130414: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0130414/images
Error for movie ID tt0324264: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0324264/images
Error for movie ID tt0884762: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0884762/images
Error for movie ID tt0115109: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0115109/images
Error for movie ID tt1587373: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1587373/images
Error for movie ID tt0098769: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0098769/images
Error for movie ID nan: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/nan/images
Error for movie ID tt0037610: HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=None)
Error for movie ID tt0186804: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0186804/images
Error for movie ID tt0167565: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0167565/images
Error for movie ID tt0108956: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0108956/images
Error for movie ID tt0346223: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0346223/images
Error for movie ID tt1567215: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1567215/images
Error for movie ID tt2061818: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt2061818/images
Error for movie ID tt1422182: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1422182/images
Error for movie ID tt0114181: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0114181/images
Error for movie ID tt1504261: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1504261/images
Error for movie ID tt0294592: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0294592/images
Error for movie ID tt0830361: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0830361/images
Error for movie ID tt0077060: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0077060/images
Error for movie ID tt1366321: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1366321/images
Error for movie ID tt1178522: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1178522/images
Error for movie ID tt0090455: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0090455/images
Error for movie ID tt0085077: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0085077/images
Error for movie ID tt0112326: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0112326/images
Error for movie ID tt1878805: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1878805/images
Error for movie ID tt0156205: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0156205/images
Error for movie ID tt0928385: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0928385/images
Error for movie ID tt1530535: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1530535/images
Error for movie ID tt2371381: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt2371381/images
Error for movie ID tt0495055: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0495055/images
Error for movie ID tt0098134: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0098134/images
Error for movie ID tt0462520: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0462520/images
Error for movie ID tt0108915: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0108915/images
Error for movie ID nan: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/nan/images
Error for movie ID tt1757779: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1757779/images
Error for movie ID tt1950799: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt1950799/images
Error for movie ID tt0383126: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/collection/tt0383126/images
Error for movie ID tt0058208: ('Connection aborted.', ConnectionResetError(10054, 'IstniejÄ…ce poÅ‚Ä…czenie zostaÅ‚o gwaÅ‚townie zamkniÄ™te przez zdalnego hosta', None, 10054, None))

In [41]:
df_movie['poster_path'] = 'https://image.tmdb.org/t/p/original' + df_movie['poster_path']

In [42]:
df_movie.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'movieId', 'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'poster_path'],
      dtype='object')

In [43]:
df_movie['IMBD_paths'] = df_movie['belongs_to_collection'].apply(literal_eval_dict)
df_movie['IMBD_poster_path'] = df_movie['IMBD_paths'].apply(lambda x: x['poster_path'] if x else None)
df_movie['IMBD_backdrop_path'] = df_movie['IMBD_paths'].apply(lambda x: x['backdrop_path'] if x else None)
#create new column poster with this https://image.tmdb.org/t/p/w500/ + poster_path
df_movie['IMBD_poster_path'] = 'https://image.tmdb.org/t/p/w500/' + df_movie['IMBD_poster_path']
df_movie['IMBD_backdrop_path'] = 'https://image.tmdb.org/t/p/w500/' + df_movie['IMBD_backdrop_path']
df_movie['belongs_to_collection'] = df_movie['IMBD_paths'].apply(lambda x: x['name'] if x else None)

#drop column IMBD_paths
df_movie.drop(columns=['IMBD_paths'], inplace=True)

In [44]:
#change release_date column to string
df_movie['release_date'] = df_movie['release_date'].astype(str)

#let only year in release_date column
df_movie['release_date'] = df_movie['release_date'].apply(lambda x: x[:4] if x != np.nan else np.nan)

In [45]:
df_credits.head(3)

                                                cast         director  movieId
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...  [John Lasseter]      862
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...   [Joe Johnston]     8844
5  [Al Pacino, Robert De Niro, Val Kilmer, Jon Vo...   [Michael Mann]      949

In [46]:
#change genres column to string
df_movie['genres'] = df_movie['genres'].apply(lambda x: ', '.join(x))
df_movie['production_companies'] = df_movie['production_companies'].apply(lambda x: ', '.join(x))
df_movie['production_countries'] = df_movie['production_countries'].apply(lambda x: ', '.join(x))
df_movie['spoken_languages'] = df_movie['spoken_languages'].apply(lambda x: ', '.join(x))
df_keywords['keywords'] = df_keywords['keywords'].apply(lambda x: ', '.join(x))
df_credits['cast'] = df_credits['cast'].apply(lambda x: ', '.join(x))
df_credits['director'] = df_credits['director'].apply(lambda x: ', '.join(x))

df_movie.head(3)

,adult,belongs_to_collection,budget,genres,homepage,movieId,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,poster_path,IMBD_poster_path,IMBD_backdrop_path
0,False,Toy Story Collection,30000000,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,English,Released,NaN,Toy Story,False,7.7,5415.0,https://image.tmdb.org/t/p/original/uXDfjJbdP4...,https://image.tmdb.org/t/p/w500//7G9915LfUQ2lV...,https://image.tmdb.org/t/p/w500//9FBwqcd9IRruE...
1,False,None,65000000,"Adventure, Fantasy, Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"English, FranÃ§ais",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,https://image.tmdb.org/t/p/original/nLXYV4WmYU...,NaN,NaN
5,False,None,60000000,"Action, Crime, Drama, Thriller",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"English, EspaÃ±ol",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,https://image.tmdb.org/t/p/original/umSVjVdbVw...,NaN,NaN

In [47]:
df_credits.head(3)

                                                cast       director  movieId
0  Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...  John Lasseter      862
1  Robin Williams, Jonathan Hyde, Kirsten Dunst, ...   Joe Johnston     8844
5  Al Pacino, Robert De Niro, Val Kilmer, Jon Voi...   Michael Mann      949

In [24]:
#save to csv
PATH = 'C:\\Users\\aldabrow\\Desktop\\PowerBI Excercises\\INZ\\data\\transfromed_data\\'

df_ratings.to_csv(PATH + 'ratings.csv', index=False)

In [ ]:
df_credits.to_csv(PATH+'credits.csv', index=False)
df_keywords.to_csv(PATH+'keywords.csv', index=False)
df_movie.to_csv(PATH+'movies_metadata.csv', index=False)